@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: local('Open Sans'),
    url('./assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    src: local('Open Sans'),
    url('./assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: local('Open Sans'),
    url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: local('Open Sans'),
    url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}